.App {
    text-align: center;
    background-color: #282c34;
}
*{
    padding: 0;
    margin: 0;
}

#header {
    height: 8vh;
    width: 100vw;
    border-bottom: grey 1px solid;
}

#main {
    height: 87vh;
    width: 100vw;
}

#footer {
    height: 5vh;
    width: 100vw;
    border-top: grey 1px solid;
}

.addItem {
    height: 55px;
}

#userAndItems {
    width: 90vw;
    border: lightgrey;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

#userOfItem {
    height: 3vh;
    border: lightgrey;
}

#categorizedItems{
    max-height: 45vh;
    height: 3vh;
}

#uncategorizedItemList{
    height: 40vh;
    width: 80vw;
    border: 1px solid grey;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    border-radius: 20px;
    margin: 10vh auto 5vh auto;
    text-align: left;
    padding: 20px;
}

